<h2>Two Cubes – 31 Days</h2>

  <div id="cube1">

    <section class="container">
      <div class="cube" class="show-front">
        <figure class="front">0</figure>
        <figure class="back">1</figure>
        <figure class="right">2</figure>
        <figure class="left">3</figure>
        <figure class="top">4</figure>
        <figure class="bottom">5</figure>
      </div>
    </section>

    <section class="options">
      <p class="show-buttons">
        <button class="show-front">Show 0</button>
        <button class="show-back">Show 1</button>
        <button class="show-right">Show 2</button>
        <button class="show-left">Show 3</button>
        <button class="show-top">Show 4</button>
        <button class="show-bottom">Show 5</button>
      </p>
    </section>

  </div>


  <div id="cube2">

   <section class="container">
    <div class="cube" class="show-front">
      <figure class="front">0</figure>
      <figure class="back">1</figure>
      <figure class="right">2</figure>
      <figure class="left"><span class="hint--top hint--info hint--rounded" data-hint="Missing a number? Take a closer look at the button!">6</span></figure>
      <figure class="top">7</figure>
      <figure class="bottom">8</figure>
    </div>
  </section>

  <section class="options">
    <p class="show-buttons">
      <button class="show-front">Show 0</button>
      <button class="show-back">Show 1</button>
      <button class="show-right">Show 2</button>
      <button class="show-left flip">Show 6 & 9</button>
      <button class="show-top">Show 7</button>
      <button class="show-bottom">Show 8</button>
    </p>
  </section> 

  <p class="line">Hint: Hover on 6 to solve.</p>
  
</div>